/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css?family=Dancing Script');
@import url('https://fonts.googleapis.com/css?family=Fontdiner Swanky');

$presentation-title-slide-text-align: right;

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-line-height: 1.4;

.quarto-title-author-name {
  font-size: 65px;
  color: #e9cee5;     /*-- #ccaadd white --*/
  font-weight: bold;
  font-family: 'Dancing Script';
  text-shadow: 
    2px 2px 0px #a92777;
}

.centered {
  text-align: center; /*-- justify --*/
  max-width: 80%;
  margin: 0 auto;
}

// colors
$body-bg: #e9cee5; 
$body-color: #e9cee5;  // main font
$link-color: #c94f8e;
$selection-bg: #2a1625;              

// headings
$presentation-heading-font: "Fontdiner Swanky", "Book Antiqua", Palatino,
  FreeSerif, serif !default;             
$presentation-heading-color: #a92777 !default;
$presentation-h1-text-shadow: 2px 2px #e9cee5;
$presentation-heading-text-shadow: 1px 1px #e9cee5;

// code blocks 

/*-- scss:mixins --*/

// Background generator
@mixin bodyBackground() {
  @include radial-gradient(#000000, #2a1625);
}

/*-- scss:rules --*/

// tilts, mirrors, etc 

.shadow {
  text-shadow: 
    2px 2px 3px #222,
    -2px -2px 3px #222 !important;
}

.foreground-image {
  z-index: 1000 !important;
}

.underline {
  text-decoration: underline;
}

.mirror {
  transform: rotateY(180deg);
}

.tilt {
  rotate: 20deg;
}

.tilt2 {
  rotate: -20deg;
}

.smaller {
  font-size: .9em;
}

.Smaller {
  font-size: .8em;
}

.bigger {
  font-size: 1.4em;
}

.Bigger {
  font-size: 2em;
}

// fonts

